//
// Placeholder svg used in the docs.
//

.placeholder-img {
  font-size: 1.125rem;
  color: #ddd;
  background-color: #777;
  fill: currentColor;
  text-anchor: middle;
}

.placeholder-img-lg {
  font-size: 3.5rem;
}
